
@media screen and (min-width:600px) and (max-width:799px) {

    .screen_talk {
       font-size: 1.1em;
       vertical-align:middle;
       margin-top:15px;
    }


     #bleft_spot {
	width:65%;
     }

     #bright_spot {
 	width:35%;
     }



    #adside_bar {
       width:100%;
       float:none;
       text-align:right;
       vertical-align:center;
       border:3px;
       padding-bottom:10px;
     }

     #admain_spot {
       width:100%;
       float:none;
      border:5px; 
    }

     #main_spot {
       width:100%;
     }

     .menu_btn {
       width:25px;
     }

     .mybtns  {
        padding:5px 5px; 
        border:none;
     }
 
     #searchbox {
        width:100px;
     }


     #chip_rail {
        width:50%;
     }

     #chunk_rail {
        width:50%;
     }

     .piclip {
         clip:rect(0px,100px,100px,0px);
	 width:75px;
     }
 
}


